body{
    font-family: Arial, sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    background-color: #F8ECB0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    color: #386DCF;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0 0 0;
    padding: 0 0 30px 0;
}


li{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: #ffffff;
    background-color: #5DFF98;
    padding: 15px 15px;

}

a:hover{
    background-color: #ffffff;
    color: #5DFF98;
}


